@import 'variables';
@import 'reboot';

$icon-size: 34px;
$password-width: 250px;
$right-position: 5px;

.password {
  width: $password-width;
  position: relative;
  height: $icon-size;

  img {
    display: block;
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    right: $right-position;
    top: 0;
    cursor: pointer;
  }

  input {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: $icon-size + $right-position + 1;
    font-family: $main-font-family;
    font-size: $base-font-size;
  }
}