@import 'variables';
@import 'reboot';

$nav-background-color: hsl(0, 0%, 31%);

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $nav-background-color;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;

    a:hover {
      background-color: darken($color: $nav-background-color, $amount: 20%);
    }
  }

  > ul > li > a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding: 0 15px;
    display: block;
    cursor: pointer;
  }

  .mega-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: $nav-background-color;
    border-top: 1px solid #000;
    padding: 30px 50px;
    display: block;

    ul {
      flex-direction: column;
    }
    h3 {
      margin: 0;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}


section{
  height: 500px;
  padding: 80px 50px;
  background-color: rgb(235, 106, 106);
  margin-bottom: 10px;
}

.hide {
  display: none !important;
}