@import 'variables';
@import 'reboot';

$label-width: 20%;
$control-width: 100% - $label-width;

.form-wrapper {
  width: 800px;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 4px #cccccc;
  margin: 50px auto;
  padding: 10px;
  
  .label-wrapper {
    width: $label-width;
    padding: 10px 0;
  }

  .control-wrapper {
    width: $control-width;
    padding: 10px 0;
  }
}
input {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid green;
  border-radius: 4px;
  padding: 8px;
}

.table {
  width: 800px;
  margin: auto;
}

%space-control{
  padding: 15px;
  margin-left: 3px;
}

.first-name {
  width: 40%;
  @extend %space-control;
}
.last-name {
  width: 50%;
  @extend %space-control;
}

.mark {
  width: 10%;
  @extend %space-control;
}

.title {
  text-align: center;
  background-color: rgb(121, 121, 121);
  color: white;
}